<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3 mt-5 v-if="!stories.length">
      <v-card color="story--container blue-grey lighten-4">
          <div class="inner--card blue-grey--text text--darken-4">
            <h3 class="headline mb-0">this is your dashboard</h3>
            <div>add some stories!</div>
            <v-btn color="blue-grey darken-2" class="white--text" dense mt-5 style="margin-top: 2rem;" @click="dialog = true">add your first story</v-btn>
          </div>
      </v-card>
    </v-flex>
    <v-flex xs12 sm10 offset-sm1 mt-5 v-else>
      <v-card class="story--container darken-1" v-for="(s, i) in stories" :key="i" :class="{'deep-purple': s.genre_id === 1, 'indigo': s.genre_id == 2}">
          <div class="story--tile white--text">
              <span> {{s.title}} </span>
            </div>
      </v-card>
    </v-flex>
    <v-btn
      absolute
      dark
      fab
      bottom
      right
      color="blue-grey"
      @click="dialog = true"
    >
      <v-icon>add</v-icon>
    </v-btn>
    <new-story-dialog :isOpen="dialog"></new-story-dialog>
  </v-layout>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'

import NewStoryDialog from './NewStoryDialog'

export default {
  name: 'MainDashboard',
  components: { NewStoryDialog },
  computed: mapState({
    stories: state => state.stories
  }),
  mounted() {
    this.$store.dispatch('get_stories')
  },
  data () {
    return {
      dialog: false
    }
  }
}
</script>

<style scoped>
.story--container {
  margin: 2rem;
  display: inline-flex;
  border-radius: 5px;
  cursor: pointer;
}
.story--tile {
  padding: 2rem;
  height: 12rem;
  width: 12rem
}
.inner--card {
    height: 60vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
</style>
