<template>
  <v-dialog v-model="isOpen" width="500">
    <v-card>
      <v-card-title class="grey lighten-2" dense> Your new story </v-card-title>
        <v-card-text>
          <v-flex xs12 sm6 d-flex>
            <v-select
              :items="genres"
              item-text="name"
              item-value="id"
              label="story's genre"
              solo
              v-model="story.genre_id"
            ></v-select>
          </v-flex>
          <v-flex xs12 sm12 md12>
            <v-text-field
              label="Title"
              solo
              v-model="story.title"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm12 md12>
            <v-textarea
              solo
              name="input-7-4"
              label="Short description (optional)"
              v-model="story.description"
            ></v-textarea>
          </v-flex>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="save"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>    
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'

export default {
  name: 'NewStoryDialog',
  props: ['isOpen'],
  computed: mapState({
    genres: state => state.genres
  }),
  mounted() {
    this.$store.dispatch('get_genres')
    this.$store.dispatch('get_stories')
  },
  data () {
    return {
      story: {
        genre_id: null,
        title: '',
        description: ''
      }
    }
  },
  methods: {
    save() {
      this.$store.dispatch('add_story', this.story)
    }
  }
}
</script>