<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
</head>
<body>
 <%= render @view_module, @view_template, assigns %>
 <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>