<template>
  <v-toolbar dense color="blue-grey darken-2">
    <v-toolbar-title class="white--text">{{ app_title }}</v-toolbar-title>
     <v-spacer></v-spacer>
     <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat small><a href="/auth/google">Log in with Google</a></v-btn>
      </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import axios from 'axios'
export default {
  name: 'navbar',
  data () {
    return {
      app_title: 'Nota'
    }
  },
  methods: {
      test() {
        axios.get('/auth/google')
        .then(function (response) {
            // handle success
            console.log(response);
        })
      }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
  font-size: 10px;
  color: white;
}
</style>
