<template>
  <v-app>
    <div id="app">
        <navbar></navbar>
        <router-view></router-view>
    </div>
  </v-app>
</template>

<script>
import Navbar from './components/layout/Navbar'
export default {
  name: 'app',
  components: { Navbar },
  data () {
    return {
      msg: 'Welcome to Your Vue.js & Phoenix & GraphQL App'
    }
  }
}
</script>